body {
  background-color: $neutral;
  color: $carbon;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: $carbon;
  height: 1px;
}

.alert,
.notice {
  text-align: center;
  color: $watermelon;
  font-size: 12px;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}

.inline {
  display: inline;
}

.row {
  margin: 10px;
}

.sidebar-item {
  list-style-type: none;
}

#error_explanation {
  font-size: 12px;
  color: $watermelon;

  h2 {
    font-size: 15px;
  }

  li {
    list-style-type: none;
  }
}
